# For Google OAuth, check https://developers.google.com/identity/protocols/OAuth2WebServer#creatingcred
OAUTH_CLIENT_ID: client_id_from_google
OAUTH_CLIENT_SECRET: client_secret_from_google
SERVER_LIST:
  - foo.com
TRIGGER_TOKEN: some-secret-token
EXTENSION_ID: abcdefghijklmnoabcdefhijklmnoabc
