
body {
  line-height: 1.6;
  color: #555;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #555;
}

.menu {
  font-size: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu > li {
  padding: 0;
  margin: 0;
  height: 100%
}

.menu > li.active {
  background: #eee;
}

.menu > li > a {
  padding: .5em 1em;
}

.menu > li:hover {
  background: #eee;
}